@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes progressAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-progress {
    animation: progressAnimation 2s linear infinite;
  }
  
/* Custom Scrollbar */
/* Scrollbar track (horizontal and vertical) */
::-webkit-scrollbar {
  width: 8px;  /* Width for vertical scrollbar */
  background-color: #064039; /* Dark blue background for scrollbar track */
  border: none;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #00B3A2; /* Lighter blue for scrollbar handle */

}


/* Scrollbar buttons (if any, but note that not all browsers show them) */
::-webkit-scrollbar-button {
  background-color: #064039;
}


